* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-right: 7px;
}

body {
    background: #f1f1f1;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.formpost {
    margin-bottom: 1rem;
}

.card-auth {
    width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.login {
    height: 250px;
}

.logout {
    height: 150px;
}

.signup {
    height: 350px;
}

.card-title {
    font-size: 1.5rem;
}

.card-body {
    height: 120px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.form-control:focus {
    box-shadow: none;
}

.index-img {
    object-fit: cover;
    height: 150px;
}

.detail-img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}